<div id="word-new">
  <div class="new-word">
    <h1 id="prompt">describe your experience in one word:</h1>

    <input type="text" name="word" class="word-input" autofocus=true />

  </div>

  <div class="thank-you-screen">
    <h1>hey, thanks!</h1>
    <div id="progress-bar-container"></div>
  </div>
</div>
