<div id="word-new">
  <div class="new-word">
    <h1 id="prompt">describe your experience in one word:</h1>

    <input type="text" name="word" class="word-input" autofocus=true />


    <h2 id="press-enter-prompt">please press enter</h2>
  </div>

  <div class="thank-you-screen">
    <h1>hey, thanks!</h1>
    <div id="progress-bar-container"></div>
    <h2>Your word has been added to the projection, see the result here in the gallery <span>☺︎</span></h2>
  </div>
</div>
